ul{
    list-style-type: none;
    background-color: black;
    padding: 15px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
}

ul li a:hover{
    background-color: rgb(81, 81, 81);
}